@(admin: Admin)
@import views.html.admin.template
@template(admin){
    <div id="div_cursos" class="col-md-10">
        <div class="col-md-6">
            <h3 style="display: inline-block">Cursos</h3>
            <div id="add_curso">
                <form class="form-horizontal">
                    <input type="text" id="add_curso_name" name="name" placeholder="Nombre..." style="width: 130px">
                    <button id="add_curso_plus" class="btn btn-sm btn-primary">+</button>
                    <button id="curso_addl" class="btn btn-sm btn-primary">+ lista</button>
                </form>
            </div>
            <table id="cursos_tab" class="display">
                <thead>
                    <tr style="cursor: pointer">
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                @for(course <- Course.find.all()) {
                    <tr data-id="@{course.id}">
                        <td>@course.name</td>
                        <td>
                            <button class="btn btn-sm btn-primary">Editar</button>
                            <button class="btn btn-sm btn-primary hidden">Guardar</button>
                            <button class="btn btn-sm btn-primary hidden">Cancelar</button>
                            <button class="btn btn-sm btn-danger">Eliminar</button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <div id="addl_curso" style="display: none">
                <form class="form-horizontal">
                    <h3 class="text-center">Nuevos Cursos</h3>
                    <div class="form-group">
                        <label class="col-md-4">Nombres:</label>
                        <textarea id="addl_curso_names" name="names" rows="6" cols="35"></textarea>
                    </div>
                    <button id="addl_curso_aceptar" class="btn btn-primary">Aceptar</button>
                </form>
            </div>
        </div>
        <div class="col-md-6 hidden">
            <h3 style="display: inline-block">Temas</h3>
            <div id="add_theme">
                <form class="form-horizontal">
                    <input type="text" id="add_theme_name" name="name" placeholder="Nombre..." style="width: 130px">
                    <button id="add_theme_plus" class="btn btn-sm btn-primary">+</button>
                    <button id="theme_addl" class="btn btn-sm btn-primary">+ lista</button>
                </form>
            </div>
            <table id="themes_tab" class="display">
                <thead>
                    <tr style="cursor: pointer">
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div id="addl_theme" style="display: none">
                <form class="form-horizontal">
                    <h3 class="text-center">Nuevos Temas</h3>
                    <div class="form-group">
                        <label class="col-md-4">Nombres:</label>
                        <textarea id="addl_theme_names" name="names" rows="6" cols="35"></textarea>
                    </div>
                    <button id="addl_theme_aceptar" class="btn btn-primary">Aceptar</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        $.fn.editable=function(edit){
            if(edit)$(this).attr("contenteditable",edit)
            else $(this).removeAttr("contenteditable")
        }
        $.fn.add_tr_model=function(model,attrs){
            var tr='<tr data-id="'+model.id+'">'
            for(var i in attrs){
                tr+='<td>'+model[attrs[i]]+'</td>'
            }
            tr+='<td><button class="btn btn-sm btn-primary">Editar</button>'+
                '<button class="btn btn-sm btn-primary hidden">Guardar</button>'+
                '<button class="btn btn-sm btn-primary hidden">Cancelar</button>'+
                '<button class="btn btn-sm btn-danger">Eliminar</button></td></tr>'
            if($(this).is("tbody"))$(this).append(tr)
        }
        $.fn.add_model=function(modelArray,attrs){
            if($(this).is("tbody")) {
                for ( var i in modelArray ) {
                    $(this).add_tr_model(modelArray[i],attrs)
                }
            }
        }
        $.fn.add_datatable=function(options){
            if($(this).is("table")){
                var settings={bFilter: false,bInfo: false,"sScrollY" : "200","paging":false}
                if(options !== undefined)$.extend(settings,options)
                $(this).data("datatable",$(this).dataTable(settings))
            }
        }
        $.fn.remove_datatable=function(){
            if($(this).is("table")){
                $(this).data("datatable").fnDestroy()
                $(this).removeData("datatable")
            }
        }
        $.fn.update_datatable=function(url,data,attrs){
            if($(this).is("table")){
                var table=this
                $.ajax ( {
                    type : "POST",
                    url : url,
                    async : false,
                    data : data,
                    success : function (modelArray) {
                        if($(table).data("datatable") !== undefined)$(table).remove_datatable()
                        if($(table).parent().hasClass("hidden"))$(table).parent().removeClass("hidden")
                        $(table).find("tbody").text("")
                        $(table).find("tbody").add_model(modelArray,attrs)
                        $(table).add_datatable()
                    }
                } )
            }
        }
        $.fn.cleanForm=function(){
            if($(this).is("form")){
                $(this)[0].reset()
                $(this).find(".alert").remove()
                $(this).removeData('validator')
            }
        }
        $.fn.myValidate=function(update,rules,errorCss,errorPlace){
            if($(this).is("form")){
                if(update)$(this).cleanForm()
                $(this ).validate ( {
                    rules : rules,
                    errorPlacement : function ( error, element ) {
                        $ ( error ).addClass ('alert alert-danger').css(errorCss || {})
                        if(errorPlace === undefined)$(element).parent().append(error)
                        else if(errorPlace == "after")$(element).after(error)
                    }
                } )
            }
        }
        $.fn.selectable=function(){
            if($(this).is("tbody")){
                $(this).on( 'click', 'tr', function () {
                    if ( $ ( this ).hasClass ( 'selected' ) )
                        $ ( this ).removeClass ( 'selected' )
                    else {
                        $(this).parent().find("tr.selected").removeClass ( 'selected' ) ;
                        $ ( this ).addClass ( 'selected' )
                    }
                })
            }
        }
        $.fn.acciones=function(modelName,attrs){
            if($(this).is("tbody")){
                var table=$(this).parent()
                $(this).on( 'click', 'button', function (e) {
                    var tr=$(this).parent().parent()
                    var hidden=$(this).parent().find(".hidden")
                    var visible=$(this).parent().find(":not('.hidden')")
                    e.stopPropagation()
                    if($(this).text()=='Editar'){
                        $(tr).editable(true)
                        $(hidden).removeClass("hidden")
                        $(visible).addClass("hidden")
                    }
                    if($(this).text()=='Guardar'){
                        var data={model:modelName,id:$(tr).attr("data-id")}
                        for(var i in attrs){
                            data[attrs[i]]=$(tr).find("td:nth-child("+(parseInt(i)+1)+")").text()
                        }
                        $.ajax ( {
                            type : "POST",
                            url : "administrador/updatemodel",
                            async : false,
                            data : data,
                            success : function(model){
                                $(tr).editable(false)
                                if(model!=null){
                                    for(var i in attrs){
                                        $(tr).find("td:nth-child("+(parseInt(i)+1)+")").text(model[attrs[i]])
                                    }
                                }
                                $(hidden).removeClass("hidden")
                                $(visible).addClass("hidden")
                            }
                        })
                    }
                    if($(this).text()=='Cancelar'){
                        $.ajax ( {
                            type : "POST",
                            url : "administrador/findmodel",
                            async : false,
                            data : { model:modelName,id:$(tr).attr("data-id")},
                            success : function (model) {
                                $(tr).editable(false)
                                for(var i in attrs){
                                    $(tr).find("td:nth-child("+(parseInt(i)+1)+")").text(model[attrs[i]])
                                }
                                $(hidden).removeClass("hidden")
                                $(visible).addClass("hidden")
                            }
                        })
                    }
                    if($(this).text()=='Eliminar'){
                        $.ajax ( {
                            type : "POST",
                            url : "administrador/deletemodel",
                            async : false,
                            data : { model:modelName,id:$(tr).attr("data-id")},
                            success : function (){
                                $(tr).remove()
                                if($(table).attr("id")=="cursos_tab"){
                                    $("#themes_tab").remove_datatable()
                                    $("#themes_tab").parent().addClass("hidden")
                                }
                            }
                        })
                    }
                })
            }
        }
        $.fn.new_model=function(form,modelName,data,attrs,dialog){
            if($(this).is("table")){
                var table=this
                if($(form).valid()){
                    if(dialog)$(form).parent().dialog('close')
                    $.ajax ( {
                        type : "POST",
                        url : "administrador/add"+modelName,
                        async: false,
                        data : data,
                        success : function (modelArray) {
                            $(table).remove_datatable()
                            $(table).find("tbody").add_model($.isArray(modelArray)?modelArray:[modelArray],attrs)
                            $(table).add_datatable()
                        }
                    })
                }
            }
        }

        var attrsCurso=["name"]
        var attrsTheme=["name"]
        $("#cursos_tab").add_datatable()
        $("#cursos_tab tbody").selectable()
        $("#cursos_tab tbody").on( 'click', 'tr', function (e) {
            $ ("#themes_tab").update_datatable("administrador/listtheme",{course_id:$(this).attr("data-id")},attrsCurso)
            $ ("#add_theme form").myValidate(true,{
                name:{required:true,exist:{model:"Theme",column:"name",condition:"course_id:"+$("#cursos_tab tr.selected").attr("data-id"),
                message : "El tema ? del curso " + $ ( "#cursos_tab tr.selected td:nth-child(1)").text() + " ya existe" } }
            })
        })
        $("#cursos_tab tbody").acciones("course",attrsCurso)
        $("#themes_tab tbody").selectable()
        $("#themes_tab tbody").acciones("theme",attrsTheme)
        $("#add_curso form").myValidate(false,{
                name:{required:true,exist:{model:"Course",column:"name",message:"El curso ? ya existe"}}
        })
        $("#add_curso_plus").click(function(){
            $("#cursos_tab").new_model($("#add_curso form"),"courses",{names:$("#add_curso_name").val(),delimiter:","},attrsCurso)
            return false
        })
        $("#addl_curso").dialog({
            autoOpen:false,
            modal:true,
            width:350,
            height:"auto"
        });
        $("#curso_addl").click(function(){
            $("#addl_curso form").myValidate(true,{
                    names:{required:true,listexist:{model:"Course",column:"name",message:"Los cursos: ? ya existen",
                        delimiter:","}}},{"margin-left":15},"after")
            $("#addl_curso").dialog("open")
        })
        $("#addl_curso_aceptar").click(function(){
            $("#cursos_tab").new_model($("#addl_curso form"),"courses",{names:$("#addl_curso_names").val(),delimiter:","},attrsCurso,true)
            return false
        })
        $("#add_theme_plus").click(function(){
            $("#themes_tab").new_model($("#add_theme form"),"themes",{names:$("#add_theme_name").val(),delimiter:",",
                course_id:$("#cursos_tab tr.selected").attr("data-id")},attrsTheme)
            return false
        })
        $("#addl_theme").dialog({
            autoOpen:false,
            modal:true,
            width:350,
            height:"auto"
        });
        $("#theme_addl").click(function(){
            $("#addl_theme form").myValidate(true,{
                    names:{required:true,listexist:{model:"Theme",column:"name",condition:"course_id:"+$("#cursos_tab tr.selected").attr("data-id"),
                        message:"Los temas: ? del curso "+$("#cursos_tab tr.selected td").text()+" ya existen",
                        delimiter:","}}},{"margin-left":15},"after")
            $("#addl_theme").dialog("open")
        })
        $("#addl_theme_aceptar").click(function(){
            $("#themes_tab").new_model($("#addl_theme form"),"themes",{names:$("#addl_theme_names").val(),delimiter:",",
                course_id:$("#cursos_tab tr.selected").attr("data-id")},attrsTheme,true)
            return false
        })
    </script>
    <div id="div_ciclos" class="col-md-10 hidden">
        <div class="col-md-12">
            <h3 style="display: inline-block">Ciclos</h3>
            <div id="add_ciclo">
                <form class="form-horizontal col-md-8">
                    <input type="text" id="add_ciclo_name" name="name" placeholder="Nombre..." style="width: 200px">
                     <button id="add_ciclo_plus" class="btn btn-sm btn-primary">+</button>
                </form>
            </div>
            <table id="ciclos_tab" class="display">
                <thead>
                    <tr style="cursor: pointer">
                        <th>Nombre</th>
                        <th>Duracion</th>
                        <th>Fecha-inicio</th>
                        <th>Fecha-final</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $("#ciclos_tab").add_datatable()
        var attrs=["name","duration","startDate","lastDate"]
        $ ("#ciclos_tab").update_datatable("administrador/listcycle",{academy_id:1},attrs)
        $("#ciclos_tab tbody").selectable()
        $("#ciclos_tab tbody").acciones("cycle",attrs)
        $("#add_ciclo form").myValidate(false,{
            name:{required:true,exist:{model:"Cycle",column:"name",condition:"academy_id:1",message:"El ciclo ? ya existe"}}
        })
        $("#add_ciclo_plus").click(function(){
            $("#ciclos_tab").new_model($("#add_ciclo form"),"cycles",{names:$("#add_ciclo_name").val(),delimiter:",",academy_id:1},attrs)
            return false
        })
    </script>
    <div id="div_ciclo_secciones" class="col-md-10 hidden">
        <div class="col-md-8">
            <div>
                <h3 style="display: inline-block">Ciclo</h3>
                <input id="seccion_ciclo_id">
            </div>
            <h3 style="display: inline-block">Secciones</h3>
            <div id="add_ciclo_seccion">
                <form class="form-horizontal col-md-8">
                    <input type="text" id="add_ciclo_seccion_name" name="name" placeholder="Nombre..." style="width: 100px">
                     <button id="add_ciclo_seccion_plus" class="btn btn-sm btn-primary">+</button>
                </form>
            </div>
            <table id="ciclo_secciones_tab" class="display">
                <thead>
                    <tr style="cursor: pointer">
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $("a.list-group-item:eq(5)").click(function(){
            start_autocomplete()
        })
        function start_autocomplete(){
            $.ajax ( {
                type : "POST",
                url : "administrador/listcycle",
                async: false,
                data : {academy_id:1},
                success : function (cycles) {
                    var source=[]
                    for(var i in cycles){
                        source.push({label:cycles[i].name,id:cycles[i].id})
                    }
                    $("#seccion_ciclo_id").autocomplete({
                        source: source,
                        select: function(event, ui) {
                            $("#seccion_ciclo_id").data("item",ui.item)
                            $ ("#ciclo_secciones_tab").update_datatable("administrador/listsection",{cycle_id:$(this).data("item" ).id},attrsSeccion)
                            $("#add_ciclo_seccion form" ).myValidate(true,{
                                name:{required:true,exist:{model:"Section",column:"name",condition:"cycle_id:"+$("#seccion_ciclo_id").data("item").id,
                                    message:"La seccion ? del ciclo "+$("#seccion_ciclo_id").data("item").label+" ya existe"}}
                            })
                            $("#add_ciclo_seccion_plus").click(function(){
                                $("#ciclo_secciones_tab").new_model($("#add_ciclo_seccion form"),"sections",{names:$("#add_ciclo_seccion_name").val(),
                                    delimiter:",",cycle_id:$("#seccion_ciclo_id").data("item").id},attrsSeccion)
                                return false
                            })
                        }
                    })
                }
            })
        }
        var attrsSeccion=["name"]
        $("#ciclo_secciones_tab").add_datatable()
        $("#ciclo_secciones_tab tbody" ).selectable()
        $("#ciclo_secciones_tab tbody" ).acciones("section",attrsSeccion)
    </script>
    <div id="div_profesores" class="col-md-10 hidden">
        <div class="col-md-12">
            <h3 style="display: inline-block">Profesores</h3>
            <div id="add_profesor">
                <form class="form-horizontal col-md-7">
                    <div>
                        <label class="col-md-4">Email:</label>
                        <input type="text" id="add_profesor_user_email" name="user_email" placeholder="Email..." style="width: 200px">
                    </div>
                    <div>
                        <label class="col-md-4">Password:</label>
                        <input type="password" id="add_profesor_user_pass" name="user_pass" placeholder="Password..." style="width: 200px">
                    </div>
                     <button id="add_profesor_next" class="btn btn-sm btn-primary">siguiente</button>
                </form>
                <form class="form-horizontal col-md-8 hidden">
                    <div>
                        <label class="col-md-4">Nombre:</label>
                        <input type="text" id="add_profesor_name" name="name" placeholder="Nombre..." style="width: 200px">
                    </div>
                    <div>
                        <label class="col-md-4">Apellidos:</label>
                        <input type="text" id="add_profesor_lastname" name="lastname" placeholder="Apellidos..." style="width: 200px">
                    </div>
                    <button id="add_profesor_back" class="btn btn-sm btn-primary">Atras</button>
                    <button id="add_profesor_save" class="btn btn-sm btn-primary">Guardar</button>
                </form>
            </div>
            <table id="profesores_tab" class="display">
                <thead>
                    <tr style="cursor: pointer">
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @for(professor <- Professor.find.all()) {
                        <tr data-id="@{professor.id}">
                            <td>@professor.name</td>
                            <td>@professor.lastname</td>
                            <td>
                                <button class="btn btn-sm btn-primary">Editar</button>
                                <button class="btn btn-sm btn-primary hidden">Guardar</button>
                                <button class="btn btn-sm btn-primary hidden">Cancelar</button>
                                <button class="btn btn-sm btn-danger">Eliminar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $("#profesores_tab").add_datatable()
        var attrs=["name","lastname"]
        $("#profesores_tab tbody").selectable()
        $("#profesores_tab tbody").acciones("professor",attrs)
        $("#add_profesor form:nth-child(1)").myValidate(true,{
            user_email:{required:true,email:true,exist:{model:"User",column:"email",message:"El usuario con email ? ya existe"}},
            user_pass:{required:true,minlength:3,maxlength:15}},{"margin-left":15},"after")
        $("#add_profesor form:nth-child(2)").myValidate(true,{
            name:{required:true},
            lastname:{required:true}},{"margin-left":15},"after")
        $("#add_profesor_next").click(function(){
            var form=$("#add_profesor form:nth-child(1)")
            if(form.valid()){
                form.addClass("hidden")
                $("#add_profesor form:nth-child(2)").removeClass("hidden")
            }
            return false
        })
        $("#add_profesor_back").click(function(){
            var form=$("#add_profesor form:nth-child(2)")
            form.addClass("hidden")
            $("#add_profesor form:nth-child(1)").removeClass("hidden")
            return false
        })
        $("#add_profesor_save").click(function(){
            var form=$("#add_profesor form:nth-child(2)")
            if(form.valid()){
                $.ajax({
                    type: "POST",
                    async: false,
                    url: "validateexist",
                    data: {model:"Professor",column:"name",value:$("#add_profesor_name").val(),condition:"lastname:"+$("#add_profesor_lastname").val(),
                        message:"El profesor ? "+$("#add_profesor_lastname").val()+" ya existe"},
                    success: function(msg){
                        if(msg!=""){
                            $("#add_profesor form:nth-child(2)").find(".alert").remove()
                            $("#add_profesor_lastname").after('<div>'+msg+'</div>')
                            $("#add_profesor_lastname").next().addClass('alert alert-danger').css({"margin-left":15})
                        }
                        else{
                            var user_id=0
                            $.ajax ( {
                                type : "POST",
                                url : "administrador/adduser",
                                async: false,
                                data : {email:$("#add_profesor_user_email").val(),pass:$("#add_profesor_user_pass").val(),role_id:1},
                                success : function (user) {
                                    user_id=user.id
                                }
                            })
                            $("#profesores_tab").new_model($("#add_profesor form:nth-child(2)"),"professor",{name:$("#add_profesor_name").val(),
                                lastname:$("#add_profesor_lastname").val(),user_id:user_id},attrs)
                            $("#add_profesor_back").trigger("click")
                        }
                    }
                })
            }
            return false
        })
    </script>
}
