@(admin: Admin)
@main("Administrador") {
    <div>
        Bienvenido <b>@admin.name</b><a href="/logout" class="btn btn-primary">Cerrar Sesion</a>
    </div>
    <div id="div_cursos" class="col-md-6 col-md-offset-2">
        <div class="col-md-4">
            <h3 style="display: inline-block">Cursos</h3>
            <button id="curso_add" class="btn btn-sm btn-primary">+</button>
            <button id="curso_addl" class="btn btn-sm btn-primary">+ lista</button>
            <table id="cursos_tab" class="display">
                <thead>
                    <tr style="cursor: pointer">
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                @for(course <- Course.find.all()) {
                    <tr data-id="@{course.id}">
                        <td>@course.name</td>
                    </tr>
                }
                </tbody>
            </table>
            <div id="add_curso" style="display: none">
                <form class="form-horizontal">
                    <h3 class="text-center">Nuevo Curso</h3>
                    <div class="form-group">
                        <label class="col-md-4">Nombre:</label>
                        <input type="text" id="add_curso_name" name="name" placeholder="Nombre...">
                    </div>
                    <button id="add_curso_aceptar" class="btn btn-primary">Aceptar</button>
                </form>
            </div>
            <div id="addl_curso" style="display: none">
                <form class="form-horizontal">
                    <h3 class="text-center">Nuevos Cursos</h3>
                    <div class="form-group">
                        <label class="col-md-4">Nombres:</label>
                        <textarea id="addl_curso_names" name="names" rows="6" cols="35"></textarea>
                    </div>
                    <button id="addl_curso_aceptar" class="btn btn-primary">Aceptar</button>
                </form>
            </div>
        </div>
        <div class="col-md-4 hidden">
            <h3 style="display: inline-block">Temas</h3>
            <button id="theme_add" class="btn btn-sm btn-primary">+</button>
            <button id="theme_addl" class="btn btn-sm btn-primary">+ lista</button>
            <table id="themes_tab" class="display">
                <thead>
                    <tr style="cursor: pointer">
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div id="add_theme" style="display: none">
                <form class="form-horizontal">
                    <h3 class="text-center">Nuevo Tema</h3>
                    <div class="form-group">
                        <label class="col-md-4">Nombre:</label>
                        <input type="text" id="add_theme_name" name="name" placeholder="Nombre...">
                    </div>
                    <button id="add_theme_aceptar" class="btn btn-primary">Aceptar</button>
                </form>
            </div>
            <div id="addl_theme" style="display: none">
                <form class="form-horizontal">
                    <h3 class="text-center">Nuevos Temas</h3>
                    <div class="form-group">
                        <label class="col-md-4">Nombres:</label>
                        <textarea id="addl_theme_names" name="names" rows="6" cols="35"></textarea>
                    </div>
                    <button id="addl_theme_aceptar" class="btn btn-primary">Aceptar</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        $("#cursos_tab").dataTable({
        //"pagingType": "simple_numbers"
        bFilter: false,bInfo: false,"sScrollY" : "200","paging":false,
        "language": {
        //"lengthMenu": "Display _MENU_ records per page",
        //"zeroRecords": "No se encontraron coincidencias",
        "infoEmpty": "No se encontraron cursos"
        //"infoFiltered": "(filtrado de _MAX_ registros en total)"
        }
        })
        var datatable_api;
        $("#cursos_tab tbody").on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) $(this).removeClass('selected')
            else {
                $("#cursos_tab tr.selected").removeClass('selected');
                $(this).addClass('selected');
            }
            $.ajax ( {
                type : "POST",
                url : "administrador/listtheme",
                async: false,
                data : {courseid:$(this ).attr("data-id")},
                success : function (themes) {
                    if(typeof datatable_api !== "undefined")datatable_api.fnDestroy()
                    $("#themes_tab").parent( ).removeClass("hidden")
                    $("#themes_tab tbody").text("")
                    for(var i in themes){
                        $("#themes_tab tbody").append('<tr data-id="'+themes[i].id+'"><td>'+themes[i].name+'</td></tr>')
                    }
                    datatable_api=$("#themes_tab").dataTable({bFilter: false,bInfo: false,"sScrollY" : "200","paging":false,
                    "language": {"infoEmpty": "No se encontraron temas"}})
                }
            } )
        })
        function cleanForm(form){
            $(form)[0].reset()
            $(form).find(".alert").remove()
            $(form).removeData('validator')
        }
        $("#add_curso").dialog({
            autoOpen:false,
            modal:true,
            width:300,
            height:"auto"
        });
        $("#curso_add").click(function(){
            cleanForm($("#add_curso form"))
            $("#add_curso").dialog("open")
            $("#add_curso form").validate({
                rules:{
                    name:{required:true,exist:["Course.name"]}
                },
                errorPlacement:function(error,element){
                    $(error).addClass('alert alert-danger').css({"margin-left":15})
                    $(element).after(error)
                }
            })
        })
        $("#add_curso_aceptar").click(function(){
            if($("#add_curso form").valid()){
                alert("correcto")
                $("#add_curso").dialog('close')
            }
            return false
        })
        $("#addl_curso").dialog({
            autoOpen:false,
            modal:true,
            width:350,
            height:"auto"
        });
        $("#curso_addl").click(function(){
            $("#addl_curso").dialog("open")
            $("#addl_curso form").validate({
                rules:{
                    names:{required:true}
                },
                errorPlacement:function(error,element){
                    $(error).addClass('alert alert-danger').css({"margin-left":15})
                    $(element).after(error)
                }
            })
        })
        $("#addl_curso_aceptar").click(function(){
            var names=$("#addl_curso_names").val( ),delimiter=",",error="";
            if($("#addl_curso form").valid()){
                if(names.split(delimiter).length==1){
                    error='Delimitar cursos con "'+delimiter+'"'
                }
                else{
                    $.ajax({
                        type: "POST",
                        async: false,
                        url: "administrador/validatecourses",
                        data: {delimiter:delimiter,names:names},
                        success: function(msg){
                            if(msg!="")error=msg
                        }
                    })
                }
                if(error!=""){
                    $("#addl_curso form").find("div.alert").remove()
                    $("#addl_curso_aceptar").before('<div class="alert alert-danger">'+error+'</div>')
                }
                else{
                    $("#addl_curso form").find("div.alert").remove()
                    alert("correcto")
                    $("#addl_curso").dialog('close')
                }
            }
            return false
        })
        $("#add_theme").dialog({
            autoOpen:false,
            modal:true,
            width:300,
            height:"auto"
        });
        $("#theme_add").click(function(){
            cleanForm($("#add_theme form"))
            $("#add_theme").dialog("open")
            $("#add_theme form").validate({
                rules:{
                    name:{required:true,exist:["Theme.name","course_id:"+$("#cursos_tab tr.selected").attr("data-id")]}
                },
                errorPlacement:function(error,element){
                    $(error).addClass('alert alert-danger').css({"margin-left":15})
                    $(element).after(error)
                }
            })
        })
        $("#add_theme_aceptar").click(function(){
            if($("#add_theme form").valid()){
                alert("correcto")
                $("#add_theme").dialog('close')
            }
            return false
        })
        $("#addl_theme").dialog({
            autoOpen:false,
            modal:true,
            width:350,
            height:"auto"
        });
        $("#theme_addl").click(function(){
            $("#addl_theme").dialog("open")
            $("#addl_theme form").validate({
                rules:{
                    names:{required:true}
                },
                errorPlacement:function(error,element){
                    $(error).addClass('alert alert-danger').css({"margin-left":15})
                    $(element).after(error)
                }
            })
        })
        $("#addl_theme_aceptar").click(function(){
            var names=$("#addl_theme_names").val( ),delimiter=",",error="";
            if($("#addl_theme form").valid()){
                if(names.split(delimiter).length==1){
                    error='Delimitar Temas con "'+delimiter+'"'
                }
                else{
                    $.ajax({
                        type: "POST",
                        async: false,
                        url: "administrador/validatethemes",
                        data: {delimiter:delimiter,names:names,course_id:$("#cursos_tab tr.selected").attr("data-id")},
                        success: function(msg){
                            if(msg!="")error=msg
                        }
                    })
                }
                if(error!=""){
                    $("#addl_theme form").find("div.alert").remove()
                    $("#addl_theme_aceptar").before('<div class="alert alert-danger">'+error+'</div>')
                }
                else{
                    $("#addl_theme form").find("div.alert").remove()
                    alert("correcto")
                    $("#addl_theme").dialog('close')
                }
            }
            return false
        })
        /*$.ajax({
            type: "POST",
            async: false,
            url: "administrador/validate",
            data: {eq:{x:0,y:1,z:2}},
            success: function(msg){
                console.log(msg)
            }
        })*/
    </script>
}
