@(admin: Admin)(content: Html)
@main("Administrador"){
    <div id="header" class="nb nb-blue navbar-fixed-top">
        <div class="nbs nbs-text">
            <div class="col-md-3">
                    @admin.name <a href="/logout" class="btn btn-primary">Cerrar Sesion</a>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-md-3" id="tree">
        <div class="list-group">
            <a class="list-group-item">Cursos y Temas</a>
            <a class="list-group-item">Profesores</a>
            <a class="list-group-item">Alumnos</a>
            <a class="list-group-item">Usuarios</a>
            <a class="list-group-item">Ciclos</a>
            <div class="list-group" style="display:none">
                <a class="list-group-item">secciones</a>
                <a class="list-group-item">cursos</a>
                <a class="list-group-item">asignaturas</a>
            </div>
        </div>
        <script>
            $("a.list-group-item:first-child").addClass("active")
            $("a.list-group-item").click(function(){
                $("#tree").find(".active").removeClass("active")
                $(this).addClass("active")
                if($(this).next("div.list-group").data("visible")!== undefined)
                    $(this).next("div.list-group").toggle()
                $("#div_cursos").parent().children().addClass("hidden")
            })
            $("a.list-group-item:eq(0)").click(function(){
                $("#div_cursos").removeClass("hidden")
            })
            $("a.list-group-item:eq(1)").click(function(){
                $("#div_profesores").removeClass("hidden")
            })
            $("a.list-group-item:eq(2)").click(function(){
                $("#div_alumnos").removeClass("hidden")
            })
            $("a.list-group-item:eq(4)").click(function(){
                $("#div_ciclos").removeClass("hidden")
            })
        </script>
    </div>
    <div class="col-md-8">
        @content
    </div>
    </div>
}