@(professor: Professor)(content: Html)
@main("Profesor"){
    <div id="header" class="nb nb-blue navbar-fixed-top">
        <div class="nbs nbs-text">
            <div class="col-md-3">
                @professor.name <a href="/logout" class="btn btn-primary">Cerrar Sesion</a>
            </div>
            <div id="preguntas_rel" class="col-md-3 col-md-offset-6 hidden">
                <a class="nbs-a">Preguntas relacionadas</a>
                <div id="questions" style="position: absolute;width:250px;margin-top: 5px;right: 25%;z-index:800;display: none">
                </div>
                <div style="position: absolute;width:250px;margin-top: 5px;right: 25%;z-index:801;display: none"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div id="tree" class="list-group" data-ord="1">
                @for(cycle<-professor.cycles()){
                    <a class="list-group-item" data-id="@{cycle.id}">CICLO  @cycle.name</a>
                }
            </div>
        </div>
        <script>
            $("#tree>a.list-group-item:first-child").addClass("active")
            /*$("#tree>a.list-group-item").click(function(){
                $("#tree .active").removeClass("active")
                $(this).addClass("active")
                $(this).next("div.list-group").toggle()
                $("#div_pregunta").parent().children().addClass("hidden")
            })
            $("#tree>a.list-group-item:nth-child(1)").click(function(){
                $("#div_pregunta").removeClass("hidden")
            })*/
            $("#tree").on('click','a.list-group-item',function(){
                var ord=parseInt($(this).parent().data("ord"))
                if($(this).next("div").length==0 && ord<4){
                    $(this).after('<div class="list-group" style="display:none"></div>')
                    var div=$(this).next("div")
                    $(div).data("ord",ord+1)
                    if(ord==1){
                        $.ajax({
                            type : "POST",
                            url : "administrador/listexam",
                            async : false,
                            data : {"cycle_id":$(this).data("id")},
                            success:function(exams){
                                for(var i in exams){
                                    $(div).append('<a class="list-group-item" data-id="'+exams[i].id+'">'+"EXAMEN DEL  "+ exams[i].date+'</a>')
                                    var a=$(div).find("a:last-child")
                                    $(a).data("id",$(div).prev("a").data("id")+"."+$(a).data("id"))
                                }
                                if(exams.length==0)$(div).remove()
                            }
                        })
                    }
                    if(ord==2){
                        $.ajax({
                            type : "POST",
                            url : "profesor/listcourse",
                            async : false,
                            data : {"cycle_id":$(this).data("id").split(".")[0]},
                            success:function(courses){
                                for(var i in courses){
                                    $(div).append('<a class="list-group-item" data-id="'+courses[i].id+'">'+"CURSO  "+courses[i].name+'</a>')
                                    var a=$(div).find("a:last-child")
                                    $(a).data("id",$(div).prev("a").data("id")+"."+$(a).data("id"))
                                }
                                if(courses.length==0)$(div).remove()
                            }
                        })
                    }
                    if(ord==3){
                        $.ajax({
                            type : "POST",
                            url : "administrador/listexamxthemes",
                            async : false,
                            data : {"exam_id":$(this).data("id").split(".")[1],"course_id":$(this).data("id").split(".")[2]},
                            success:function(themes){
                                for(var i in themes){
                                    $(div).append('<a class="list-group-item" data-id="'+themes[i].id+'">'+"TEMA  "+themes[i].name+'</a>')
                                    var a=$(div).find("a:last-child")
                                    $(a).data("id",$(div).prev("a").data("id")+"."+$(a).data("id"))
                                }
                                if(themes.length==0)$(div).remove()
                            }
                        })
                    }
                }
                $(this).next("div.list-group").toggle()
            })
            </script>
        <div class="col-md-9">
            @content
        </div>
    </div>
}