@(professor: Professor)(content: Html)
@main("Profesor"){
    <div id="header" class="nb nb-blue navbar-fixed-top">
        <div class="nbs nbs-text">
            <div class="col-md-3">
                @professor.name <a href="/logout" class="btn btn-primary">Cerrar Sesion</a>
            </div>
            <div id="preguntas_rel" class="col-md-3 col-md-offset-6">
                <a class="nbs-a">Preguntas relacionadas</a>
                <div id="questions" style="position: absolute;width:250px;margin-top: 5px;right: 25%;z-index:800;display: none">
                </div>
                <div style="position: absolute;width:250px;margin-top: 5px;right: 25%;z-index:801;display: none"></div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-md-4" id="tree">
        <style>

        </style>
        <div class="list-group" data-ord="1">
        @for(cycle<-professor.cycles()){
            <a class="list-group-item"  data-id="@{cycle.id}">@cycle.name</a>
        }
        </div>
        <script>
            $("a.list-group-item").click(click)
            function click(){
            var ord=parseInt($(this).parent().data("ord"))
                if($(this).next("div").length==0 && ord<4){
                    $ (this).after('<div class="list-group" style="display:none"></div>')
                    $(this).next("div").data("ord",ord+1)
                    $(this).next("div").load("profesor/list",{"id":$(this).data("id")})
                    $(this).next("div").on("DOMNodeInserted",">a.list-group-item",function(){
                        $(this).data("id",$(this).parent().prev("a").data("id")+"."+$(this).data("id"))
                    })
                    $(this).next("div").on("click",">a.list-group-item",click)
                }
                var div=$(this).next("div")
                if($(div).css("display")=="none")
                $(div).css("display","block")
                else
                $(div).css("display","none")
            }
        </script>
    </div>
    <div class="col-md-8">
        @content
    </div>
    </div>
}